
.container-header{
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}
.reseña-historica{
    background-color: rgb(247, 236, 236);
    padding: 2em;
    margin-top: 2em;
}


@media (max-width:950px){
    .container-header{
        width: 90%;
    }
}